<nav class="container">
	<a routerLinkActive="active" routerLink="/">Home</a>
	|

	<a routerLinkActive="active" routerLink="/cdk">Cdk Table</a>

	|

	<a routerLinkActive="active" routerLink="/material">Material Table</a>

	|

	<a routerLinkActive="active" routerLink="/todos">Todos Table</a>

	|

	<a routerLinkActive="active" routerLink="/elf-todos">Elf Todos</a>

	|

	<a routerLinkActive="active" routerLink="/ngrx-todos">Ngrx Todos</a>

	|

	<a routerLinkActive="active" routerLink="/crud-todo">CRUD Todos</a>

	|

	<a routerLinkActive="active" routerLink="/ngrx-entities">NGRX Entities</a>

	|

	<a routerLinkActive="active" routerLink="/checkbox-groups">Checkbox Groups</a>

	|

	<a routerLinkActive="active" routerLink="/checkbox-tree">Checkbox Tree</a>
</nav>
<main class="main">
	<router-outlet></router-outlet>
</main>
