<form [formGroup]="queryForm">
	<mat-form-field>
		<mat-label>Filter</mat-label>
		<input matInput formControlName="title" placeholder="Search" #input />
		<button
			type="button"
			mat-icon-button
			matSuffix
			(click)="clearFilters()"
			[attr.aria-label]="'Clear filters'"
			title="Clear filters">
			<mat-icon svgIcon="remove"></mat-icon>
		</button>
	</mat-form-field>
</form>

<div class="mat-elevation-z8">
	<table mat-table [dataSource]="todosDatasource" matSort>
		<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
			<td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
	</table>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<mat-paginator
		#paginator
		[pageSizeOptions]="[5, 10, 20, 50]"
		[length]="itemsCount"
		showFirstLastButtons
		aria-label="Select page of todos table" />
</div>
