.section {
	&-header {
		height: 42px;
		width: 100%;
		&.task {
			border-bottom: 1px solid gray;
		}
	}

	&-content {
		list-style-type: none;
		margin-block-end: 0.25rem;
		margin-block-start: 0.25rem;
		padding-inline-start: 2rem;
		&.list {
			padding-inline-start: 0.75rem;
		}
	}
}
