<button (click)="todosRepo.updateFilter('COMPLETED')">Complete</button>
<button (click)="todosRepo.updateFilter('ACTIVE')">Active</button>
<button (click)="todosRepo.updateFilter('ALL')">All</button>

<ul>
	@for (todo of todosRepo.visibleTodos$ | async; track $index) {
		<li key="track">
			<label for="new-todo">
				<input
					id="new-todo"
					type="checkbox"
					(change)="todosRepo.updateCompleted(todo.id)"
					[checked]="todo.completed"
					[title]="todo.title"
					[placeholder]="todo.title" />
				{{ todo.title }}
			</label>
		</li>
	}
</ul>

<input #todo placeholder="title" (keydown.enter)="todosRepo.addTodo(todo.value)" />
