:host {
	display: block;
	margin: auto;
	width: 75%;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::ng-deep {
	.mat-mdc-menu-item-text {
		align-items: center;
		display: flex;
		gap: 4px;
	}
}
