@if (node().type !== "virtual") {
	<div class="section-header" [ngClass]="{ task: node().type === 'parent' }">
		<mat-checkbox [checked]="node().data.completed" [indeterminate]="partiallyComplete()" (change)="update($event.checked)">
			{{ node().data.name }}
		</mat-checkbox>
	</div>
}
<ul class="section-content" [ngClass]="{ list: node().type === 'virtual' }">
	@for (treeNode of treeNodes; track $index; let i = $index) {
		@if (treeNode.type === "intermediate") {
			<ant-checkbox-group [node]="treeNode" (childChecked)="onChildChecked($event)" />
		} @else {
			<li>
				<mat-checkbox [checked]="treeNode.data.completed" (change)="update($event.checked, i)">
					{{ treeNode.data.name }}
				</mat-checkbox>
			</li>
		}
	}
</ul>
