<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<ul class="pagination">
	<li
		class="link prev-page"
		[ngClass]="{ disabled: pageIndex === 0 }"
		*ngIf="getNumberOfPages() > 1"
		(click)="pageIndex > 0 && previousPage()">
		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
			<g fill="none" fill-rule="evenodd">
				<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
			</g>
		</svg>
	</li>

	@for (pageNum of fetchPageNumbers() || [] | fetchPages; track $index) {
		<li class="link ellipsis" *ngIf="pageNum.page === false && pageNum.value === LEFT_PAGE">...</li>
		<li
			class="link"
			[ngClass]="{ active: +pageNum.value - 1 === pageIndex }"
			*ngIf="pageNum.page === true"
			(click)="setPage(+pageNum.value - 1)">
			{{ pageNum.value }}
		</li>

		<li class="link ellipsis" *ngIf="pageNum.page === false && pageNum.value === RIGHT_PAGE">...</li>
	}

	<li class="link next-page" *ngIf="hasNextPage()" (click)="nextPage()">
		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
			<g fill="none" fill-rule="evenodd">
				<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
			</g>
		</svg>
	</li>
</ul>
<div class="description">
	<div class="total-length">
		<span class="total-length__text">rows:</span>
		<span class="total-length__counter">{{ length }}</span>
	</div>
	<div class="field has-addons">
		<span class="control is-addon is-transparent">per page:</span>
		<span class="select control">
			<select title="Page size" (change)="changePageSize(select.value)" #select [(ngModel)]="selectedPageSize">
				<option [value]="pageSize" *ngFor="let pageSize of pageSizeOptions">{{ pageSize }}</option>
			</select>
		</span>
	</div>
</div>
